<?xml version="1.0" encoding="utf-8"?>
<!--
  BBC News Reader
  Released under the BSD License. See README or LICENSE.
  Copyright (c) 2011, Digital Lizard (Oscar Key, Thomas Boby)
  All rights reserved.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.digitallizard.bbcnewsreader"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:killAfterRestore="false" android:debuggable="true">
        <activity android:name=".ReaderActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    <activity android:name="ArticleActivity" android:label="@string/app_name"></activity>
<activity android:name="CategoryChooserActivity" android:label="BBC News Reader"></activity>
<service android:name="ResourceService" android:process=":bbcnewsreaderresourceservice"></service>
<activity android:name="CategoryActivity" android:label="@string/app_name"></activity>
</application>



<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<supports-screens android:normalScreens="true" android:anyDensity="false" android:largeScreens="true" android:smallScreens="true" android:resizeable="true"></supports-screens>

</manifest> 
